@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham-Light.ttf');
}
body {
	background-color: #403E3F;
}
.appText {
    color: white;
    opacity: .6;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
}
.playerInfoText {
    font-family: 'Gotham-Light';
    color: white;
    opacity: 0.7;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-left: 60px;
}
.continueBtn{
    color: white;
    font-size: 30px;
    font-family: 'Gotham-Light';
    margin-left: 555px;
    margin-top: 30px;
    border: 3px solid #29a468;
    width: 300px;
    height: 60px;
    padding-top: 10px;
    background-color: #403E3F;
}
.continueBtn:hover{
    border: 3px solid #29a468;
    background-color: #29a468;
    cursor: pointer;
}
table{
    color: #29a468;
    margin-top: 10px;
    margin-left: 380px;
    width: 600px;
    border: 4px solid #29a468;
}
table, th, td {
   color: #29a468;
}
td {
    vertical-align: center;
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-family: Gotham-Light;
    cursor: pointer;
}