@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham-Light.ttf');
}
body {
	background-color: #403E3F;
}
.appText {
    color: white;
    opacity: .6;
    font-family: Gotham-Light;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
}

.versusText{
    font-family: 'Gotham-Light';
    color: white;
    opacity: 0.7;
    font-size: 24px;
    font-weight: bold;
    margin-top: -50px;
}
.circleset{
    width: 500px;
    height: 200px;
    margin-top: 100px;
}
.circle1 {
    margin-right: 10px;
    display: none;
}
.circle2 {
	margin-left: 10px;
    display: none;
}
.infoText {
    font-family: 'Gotham-Light';
    color: white;
    opacity: 0.7;
    font-size: 18px;
    font-style: italic;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.inviteLink {
	font-family: 'Gotham-Light';
    color: #29a468;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
.inviteLink:hover {
	cursor: pointer;
}
.gameStatus{
	color: #b3b2b2;
    font-size: 30px;
    font-family: 'Gotham-Light';
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 3px solid #29a468;
    width: 375px;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    line-height: 35px;
}

.gameStatus.ready{
    color: white;
}

.gameStatus.ready:hover{
    background-color: #29a468;
    cursor: pointer;
}

.gameChooseOverlay {
    text-align: center;
    margin: auto;
    width: 500px;
}