@font-face {
    font-family: 'Gotham-Light';
    src: url('/fonts/Gotham-Light.ttf');
}

body {
	background-color: #29a468;
    font-family: "Gotham-Light"
}
.appText {
    color: white;
    opacity: .9;
    font-family: Gotham-Light;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
}

.versusText{
    font-family: 'Gotham-Light';
    color: white;
    opacity: 0.7;
    font-size: 24px;
    font-weight: bold;
    margin-top: -50px;
}
.circleset{
    height: 200px;
    margin-top: 100px;
    display: inline-block;
}

.circleset.small {
    height: 50px;
}

.circleset .circle {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

.infoText {
    font-family: 'Gotham-Light';
    color: white;
    opacity: 0.7;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.infoText b {

}

.inviteLink {
	font-family: 'Gotham-Light';
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    display: inline-block;
}

.gameStatus{
	color: #b3b2b2;
    font-size: 30px;
    font-family: 'Gotham-Light';
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 3px solid #b2b2b2;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    line-height: 35px;
    max-width: 500px;
}

.gameStatus.ready{
    color: white;
    border: 3px solid white;
}

.gameStatus.ready:hover{
    background-color: #29a468;
    cursor: pointer;
}

.gameChooseOverlay {
    text-align: center;
    margin: auto;
    top: 10vh;
    z-index: 10;
}

.playsolo {
    color: white;
    margin-top: 25px;
    font-size: 12pt;
    display: inline-block;
}

.playsolo:hover {
    color: white;
    cursor: pointer;
}

#dotsBkg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.appText {
    position: absolute;
    top: 0px;
    left: 10px;
}

.appText b {
    color: white;
}

.circle {
 -moz-transition: transform .3s ease-in-out 0s;
 -webkit-transition: transform .3s ease-in-out 0s;
 -o-transition: transform .3s ease-in-out 0s;
}

.smallSvg {
    transform: scale(0.25);
    position: relative;
    top: -80px;
}

.wordsTable {
    display: none;
    margin-left: auto;
    margin-right: auto;
    color: #29a468;
    margin-top: 20px;
}

.wordsTable td{
    padding:20px;
}

.wordsTable td:hover {
    background-color: rgba(167, 255, 212, 0.18);
    cursor: pointer;
}

.wordsTable td.active {
    background-color: rgba(41, 164, 104, 0.18);
    border: 1px solid;
}

.subInfoText {
    font-family: 'Gotham-Light';
    color: #29a468;
    font-size: 20px;
}

.waitingForResult {
    color: white;
    text-align: center;
    font-size: 20pt;
    font-family: gotham;
    margin-top: 50vh;
    display: none;
}

.waitingForResult.win {
    color: white;
    font-weight: bold;
}

.waitingForResult.loss {
    color: #b5c15e;
    font-weight: bold;
}

.definitionTable {
    display: none;
    margin-top: 20px;
    color: #29a468;
    width: 100vw;
    font-size: 16pt;
    background-color: rgb(33, 32, 33);
}

.definitionTable.disabled {
    margin-top: 50px;
}

.definitionTable .word {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
}
.definitionTable td{
    padding:20px;
}

.gameTimer {
    display: none;
    margin-left: auto;
    margin-top: 100px;
    color: #c5c4c4;
    max-width: 50vw;
    font-weight: 15pt;
    margin-right: auto;
    text-align: center;
    font-size: 20pt;
}

.treeViewContent {
    height: 100vh;
    width: 70vw;
    float: left;
}

.treeViewContent .node {
    cursor: pointer;
}

.node circle {
    fill: #ffffff;
    opacity: .2;
}

.node circle:hover {
  fill: #ffffff;
  opacity: .5;
}

.node text {
    font-size: 14px;
    color: white;
    font-family: Gotham, 'Helvetica Neue', Helvetica, sans-serif;
    fill: white;
    text-transform: capitalize;
}

.node--internal circle {
  fill: #ffffff;
  opacity: .2;
}

.node--internal text {
    font-size: 14px;
    color: white;
    font-family: Gotham, 'Helvetica Neue', Helvetica, sans-serif;
    fill: white;
    text-transform: capitalize;
}

.link {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.5px;
  stroke-opacity: .2;
}

.rightDefinitionBox {
    display: none;
    color: #29a468;
    width: 30vw;
    max-width: 500px;
    min-height: 300px;
    float: right;
}

.rightInfoBox {
    display: none;
    color: #29a468;
    width: 30vw;
    max-width: 500px;
    font-size: 16pt;
    float: right;
    padding-bottom: 50px;
}

.rightInfoBox .instruction{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 18pt;
}

.rightInfoBox .instruction.correct{
    color: #29a468;
    font-weight: bold;
}

.rightInfoBox .instruction.wrong{
    color: #b5c15e;
    font-weight: bold;
}

.rightInfoBox .subtext {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 10pt;
}

.rightInfoBox .betweenGame {
    display: none;
}

.rightPanel {
    height: 100vh;
    background-color: rgba(33, 32, 33, 0.60);
    width: 30vw;
    max-width: 500px;
    float: right;
    display: none;
}

.rightPlayerBox {
    display: none;
    margin-top: 0px;
    color: white;
    max-width: 500px;
    width: 30vw;
    font-size: 16pt;
    background-color: rgba(33, 32, 33, 0.60);
    float: right;
    padding-bottom: 50px;
}


.rightPlayerBox .instruction{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 18pt;
}

.rightPlayerBox .subtext {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 10pt;
}

.choicesTable {
    display: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    color: white;
    font-size: 16pt;
    background-color: rgb(33, 32, 33);
}

.choicesTable td{
    padding:5px;
    border: 1px solid #29a468;
}

.choicesTable tr:hover{
    background-color: rgba(167, 255, 212, 0.18);
    cursor: pointer;
}

.goBackButton{
    display: none;
    color: #b3b2b2;
    font-size: 30px;
    font-family: 'Gotham-Light';
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 3px solid #b2b2b2;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    line-height: 35px;
    max-width: 300px;
}

.goBackButton.ready{
    color: white;
    border: 3px solid #208453;
}

.goBackButton.ready:hover{
    background-color: #208453;
    cursor: pointer;
}

.playerScore {
    height: 70px;
    line-height: 70px;
    font-size: 10pt;
}

.playerScore p {
    float: left;
    margin: 0px;
    margin-left: 10px;
}

.playerScore .playerCircle{
    margin: 10px;
    float: left;
    height: 50px;
}

.connectingWords {
    text-align: center;
    color: white;
    font-size: 12pt;
    margin-top: 20px;
}

.hintText {
    padding: 15px;
    color: white;
}